@model Villancicos.Models.Villancico
@{
	Layout = "AdminLayout";
}

<section>

	<form method="post" action="~/Admin/Villancicos/Eliminar">
		<div class="caption">
			<h2>Eliminar villancico</h2>
		</div>

		<input type="hidden" name="Id" value="@Model.Id" />

		<label>Confirmar la eliminacion del villancico</label>
		<input type="text" name="Nombre" value="@Model.Nombre" readonly />
		
		@Html.ValidationSummary(true)

		<div class="botones">
			<input type="submit" value="Eliminar" />
			<a href="~/Admin">Cancelar</a>
		</div>

	</form>

</section>