@model IEnumerable<VIllancicos.Areas.Admin.Models.AdminIndexViewModel>
@{
	Layout = "AdminLayout";
}

<section>
	<table>
		<caption>
			<h2>Villancicos </h2>
			<a href="~/Admin/Villancicos/Agregar">&#10010; Agregar nuevo</a>
		</caption>
		<thead>
			<tr>
				<th style="width:1%;">#</th>
				<th style="width:90%;">Nombre del villancico</th>
				<th style="width:9%;" colspan="2">Acciones</th>
			</tr>
		</thead>
		<tbody>
			@{                       //para que se haga una lista enumerada:)
				int x = 1;           //  
			 }                        
				@foreach(var v in Model)
			{
				<tr>
					<td>@(x++)</td>   
					<td>@v.Nombre</td>
					<td><a href="~/Admin/Villancicos/Editar/@v.Id">&#9998;</a></td>
					<td><a href="~/Admin/Villancicos/Eliminar/@v.Id">&#10008;</a></td>
				</tr>
			}		
		</tbody>
	</table>
</section>