@{
	Layout = "AdminLayout";
}

<section>
	<table>
		<caption>
			<h2>Villancicos </h2>
			<a href="#">&#10010; Agregar nuevo</a>
		</caption>
		<thead>
			<tr>
				<th style="width:1%;">#</th>
				<th style="width:90%;">Nombre del villancico</th>
				<th style="width:9%;" colspan="2">Acciones</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td>1</td>
				<td>Mi burrito sabanero</td>
				<td><a href="#">&#9998;</a></td>
				<td><a href="#">&#10008;</a></td>
			</tr>
			<tr>
				<td>2</td>
				<td>Mi burrito sabanero</td>
				<td><a href="#">&#9998;</a></td>
				<td><a href="#">&#10008;</a></td>
			</tr>
			<tr>
				<td>3</td>
				<td>Mi burrito sabanero</td>
				<td><a href="#">&#9998;</a></td>
				<td><a href="#">&#10008;</a></td>
			</tr>
		</tbody>
	</table>
</section>